<div class="banner">
  <div class="title">Hero At My Door</div>
  <div class="secret">We've got your problems. </div>
  <img id="mask" src="<%= image_path ("the-spirit.png")%>"
</div>
</div>
<div class="space"></div>
<div class="links_container">
<div class="links">
  <a href="">Home</a>
  <a href="">Heroes</a>
  <a href="">About Us</a>
  <a href="">Login</a>
</div>
</div>
<div class="space"></div>

<div class="caja">
  <div class="box">Your problem ends here:</div>
  <div class="box">Your problem:</div>
  <div class="box"><input class="problem" type="text" name="problem" placeholder="My cat is sick!"></div>
  <div class="box">Our solution:</div>
  <div class="box"><input class="help" type="button" name="name" value="GET A SH'S HELP!"></div>
</div>

<div class="footer"></div>

<div class="yellow"></div>
<div class="cyan"></div>
<div class="strawberry"></div>
